# Domain filtering
filter_these_domains.txt
filter_these_domains_unique.txt

# Logs:
*.log

# Python template
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/

# Environments
.env
.venv
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/

# hidden folders
.idea/